# Ignore everything
*
# Don't ignore directories, so we can recurse into them
!*/
# Don't ignore .cpp and .oil files
!*.cpp
!*.oil
!*.sim1
!*.simu
!*.m
!*.h
!*.sh
# Don't ignore .gitignore
!.gitignore

# Ignore Trampoline-generated app directory and build artifacts for lab4_ex1
LAB4/ex1/lab4_ex1/
LAB4/ex1/lab4_ex1/**
LAB4/ex1/lab4_ex1_exe
LAB4/ex1/lab4_ex1_exe.hex

LAB4/ex2/lab4_ex2/
LAB4/ex2/lab4_ex2/**
LAB4/ex2/lab4_ex2_exe
LAB4/ex2/lab4_ex2_exe.hex

# Ignore Trampoline-generated app directories and build artifacts for LAB3
LAB3/ex1/lab3_ex1/
LAB3/ex1/lab3_ex1/**
LAB3/ex1/lab3_ex1_exe
LAB3/ex1/lab3_ex1_exe.hex

LAB3/ex2/lab3_ex2/
LAB3/ex2/lab3_ex2/**
LAB3/ex2/lab3_ex2_exe
LAB3/ex2/lab3_ex2_exe.hex

LAB3/ex3/lab3_ex3/
LAB3/ex3/lab3_ex3/**
LAB3/ex3/lab3_ex3_exe
LAB3/ex3/lab3_ex3_exe.hex

LAB2/ex1/lab2_ex1/
LAB2/ex1/lab2_ex1/**
LAB2/ex1/lab2_ex1_exe
LAB2/ex1/lab2_ex1_exe.hex

LAB2/ex2/lab2_ex2/
LAB2/ex2/lab2_ex2/**
LAB2/ex2/lab2_ex2_exe
LAB2/ex2/lab2_ex2_exe.hex

LAB1/ex2/lab1_ex2/
LAB1/ex2/lab1_ex2/**
LAB1/ex2/lab1_ex2_exe
LAB1/ex2/lab1_ex2_exe.hex